<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.locol.locol" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Always required on api < 21, needed to keep a wake lock while your job is running -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required on all api levels if you are using setPersisted(true) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MyNavigationDrawer"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".WalkthroughActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MyNavigationDrawer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.locol.locol.MyNavigationDrawer" />
        </activity>
        <activity
            android:name=".DetailsEventActivity"
            android:label="" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Goolge Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAUnhJ9Hp9yoS0yNRT38L8wS0kmLYDXvyA" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider891265017592536"
            android:exported="true" />

        <activity
            android:name=".TrendingActivity"
            android:label="@string/title_activity_trending" >
        </activity>
        <activity
            android:name=".NewEventsActivity"
            android:label="@string/title_activity_new_events" >
        </activity>
        <activity
            android:name=".ComingSoonActivity"
            android:label="@string/title_activity_coming_soon" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_coming_soon" >
        </activity>
        <activity
            android:name=".ChooseCategoryActivity"
            android:label="@string/title_activity_choose_category" >
        </activity>
        <activity
            android:name=".MostFavouriteActivity"
            android:label="@string/title_activity_most_favourite" >
        </activity>
    </application>

</manifest>
